
.list-replace-button {
    border: 2px black solid;
    background-color: limegreen;
    padding: 4px;
}

.replacer {
    border: 2px black solid;
    background-color: lightsteelblue;
}

.wrapper {
    border: 2px black solid;
    background-color: lightgrey;
}

.fragment-component {
    border: 2px var(--color-dark-base-900) solid;
    background-color: whitesmoke;
}

.dark .fragment-component {
    border: 2px var(--color-light-base-50) solid;
    background-color: var(--color-dark-accent-700);
}

[data-accordion-trigger] {
    background-color: var(--color-light-base-200);
    border-style: none;
    border-color:   #C6E29F;
    border-width: 1px;
    padding: 2px;
    padding-left: 4px;
    margin: 4px;
    /*margin-left: 40px;*/
}
.dark [data-accordion-trigger] {
    background-color: var(--color-dark-base-700);
    color: var(--color-dark-base-200);
    border-style: none;
    border-width: 1px;
    border-color: #C6E29F;
    padding: 2px;
    padding-left: 4px;
    margin: 4px;
    /*margin-left: 40px;*/
}
[data-accordion-content] {
    background-color: var(--color-light-accent-50);
    padding: 2px;
    /*margin-left: 40px;*/
}
.dark [data-accordion-content] {
    background-color: var(--color-dark-base-900);
    /*margin-left: 40px;*/
}

.accordion-button {
    z-index: 100;
    background-color: var(--color-light-base-100);
    color: var(--color-light-accent-700);
    /*margin-left: 40px;*/
}
.dark .accordion-button {
    z-index: 100;
    background-color: var(--color-dark-base-700);
    color: var(--color-dark-base-200);
    /*margin-left: 40px;*/
}
